<div class="about-footer">
    <div class="bio-box">
        <h4>About You</h4>
        <div class="bio-box-inner">
            <p>Some text about you</p>
            <div class="widget-social ml-auto" style="margin:-13px 0 0 0">
                <partial name="_ProfileIcons" />
            </div>
        </div>
    </div>
</div>