@{
    ViewData["PostId"] = "-999";
}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" style="margin-top:50px" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline">Contact Page</h1>
    </header>

    <div itemprop="articleBody mainEntityOfPage" cdnify>
        <p>
            Add something about you with contact information.
        </p>
        <p>
            Please also if you'd like to read some of my articles, here are some recent ones:
            <partial name="_RecentPosts" />
        </p>
    </div>
</article>
