<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" style="margin-top:50px" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline">🤔 Hmm, we couldn't find that category...</h1>
    </header>

    <div itemprop="articleBody mainEntityOfPage" cdnify>
        <p>
            It looks like the category you clicked isn't valid anymore.  I'd recommend doing a <a href="/search">search</a> on the site or 
            check out some of the recent posts below.  If you want to browse categories, feel free to head to the <a href="/blog/categories">category list</a> page to see which tags are still valid.
        </p>
        <p>
            I'm sorry that you couldn't find what you're looking for but hopefully you'll find something else valuable!  Here are the latest to check out:
            <br />
            <partial name="_RecentPosts" />
        </p>
    </div>
</article>