<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" style="margin-top:50px" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline">🔍 Search this blog</h1>
    </header>

    <div itemprop="articleBody mainEntityOfPage" cdnify>
        <!-- add google search script tag here-->
        <div class="gcse-search"></div>
    </div>
</article>